*{
    box-sizing: border-box;
    margin : 0;
    padding: 0;
}
.navbar{
    position: fixed;
    width: 100%;
    background-color:blue ;
    color :white;
    display : flex;
    justify-content: space-between;
    align-items: center;
    font-size : 18px;

    z-index: 999;
}
.notification{
  align-items: center;
  background-color: black;
  color: white;  
}
.para{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.brand-logo{
    padding: 20px 10px;
}
.navbar .nav-list{
    list-style-type: none;
    align-items: center;
  
}
.nav-list .list-item:hover a{ 
    color: brown;
    display: block;
}
.nav-list .list-item{
    display: inline-block;
    flex-grow: 1;
    padding: 15px 10px;
}

.nav-list .list-item .list-link{
    color :white;
    text-decoration: none;
    display: block;

}
.nav-list .list-item .list-link:hover{
    display: block;
   color: brown;
   cursor: pointer;
   background-color: bisque;
}

.nav-list .list-item:hover{
    
    background-color: bisque;
    color: brown !important;

}
.menu{
    display : none;
}
.menu-line{
    width: 20px;
    height: 3px;
    background-color: white;
    margin-bottom: 3px;
}
.slider-inner{
    width: 100%;
    height: 400px;
    position: relative;
   /* overflow: hidden; */
    float: left;
    padding: 3px;
}
.Admission{
 display: flex;
 align-items: center;
 justify-content: center;
 padding: 20px 10px;
}
.Admission-Form{
    width: 35%;
    justify-content: center;
    margin-top : 20px;
    border : 3px solid rgb(236, 165, 230);
    padding : 20px;
}
.form-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.form-group input[type=text],.form-group input[type=email],.form-group input[type=password],.form-group input[type=number],.form-group input[type=file]{
    width: 100%;
    border : 2px solid #aaa;
    border-radius: 4px;
    margin : 8px 0;
    outline: none;
    padding: 8px;
    box-sizing: border-box;
    transition: 0.3s;
    font-size: 16px;
}
.form-group select option{
    padding: 0 10px;
}
.login_form{
  
   width:25%;
   margin-top: 200px;;
   padding: 10px;
   border-radius: 8px;

}
.form-block{
    max-height: 100%;
    display: flex;
    align-content: center;
 
    justify-content: center;
}
.form-group input[type=submit]{
    width: 30%;
    height: 45px;
    background-color: royalblue;
    color : white;
    border-radius: 4px;
    text-align: center;
    margin-left:35%;
    font-size: 20px;
    margin-top: 10px;
}
.form-group label{
    font-size : 18px;
    font-weight: bold;

}
.form-group input[type=text]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.form-group input[type=number]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}

.form-group input[type=password]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.form-group input[type=email]:focus{
    border-color:dodgerblue;
    box-shadow: 0 0 8px 0 dodgerblue;
}
.form-header{
    display: flex;
    justify-content: center;
}
.slider-inner img{
  
    width: 100%;
    height: 400px;
}
.slider-inner img.active{
    display: inline-block;
}
.slider-outer{
    justify-content: space-evenly;
}

.prev, .next {
    float: left;
    margin-top: 200px;
    cursor: pointer;
}
.prev{
    position: relative;
    margin-right: -45px;
    z-index: 100;
}
.next{
    position: relative;
    margin-left: -45px;
    z-index: 100;
}

select#class_std,select#class_std_section{
    padding: 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 2px solid #aaa;
    transition: 0.3s;
}
 
select#class_std option:hover{
    display: block;
    background-color: #1fdc67 !important;
}
.slicknav_menu{
    display: none;
} 
.sitelogo{
    display: none;    
}
img.brand-logo-img {width: 45px !important;}
@media screen and (max-width:40em){
    img.brand-logo-img {
       visibility: hidden;
    }
    .nav-list,.brand-logo,.menu,.search_form{
        display: none !important;
    }
    .sitelogo{
        display: block;
        padding: 5px;
        padding-left: 15px;
 
        top: 0 !important;
        z-index: 1 !important;
    }
    .sitelogo img{
         top: 5px;
         width: 45px !important;

    }
    
    .slicknav_menu{
        display: block;
        position:sticky;
        /* display: flex !important;
        flex-wrap: wrap !important;
        align-items: left; */
        background : rgb(48, 48, 250) !important;
    }
    .slicknav_nav .list-item{
      border-bottom: 1px solid #585857;
    }
    .slicknav_nav .list-item:hover h3{
        background-color: #1fdc67 !important;
    }
    ul{
        margin-top: 20px !important;
    }
    .slicknav_nav{
        padding-top: 10px !important;
        display: block;
        background: #fff;
        padding: 4px !important;
    }
    .slicknav_nav h3{
        padding: 8px !important;
        color : red !important;
     }
    .slicknav_nav a{
        color : black !important;
        font-size: 18px;
        font-weight: 700;
    }
    .AM-container{
        display: flex;
        flex-flow: column wrap;
    }
  
    /* .slicknav_nav a:hover{
        background-color: #c0d838 !important;
        padding:8px !important;
        color : black !important;
    } */
    .slicknav_btn{
        background-color: #c0d838 !important;
    }
    /* nav ul li:hover  ul.menu-area{
        top:50% !important;
    } 
    nav ul.menu-area ul{
        width: 100%;
        
        margin-bottom: 40px;
        color: #262626;
        
      }
    nav ul.menu-area{
        display: flex;
        flex-direction: column;
        overflow: scroll;
    } */
    .navbar{
        display: flex;
        flex-direction: column;
        
    }
    .nav-list{
        display: none;
        width: 100%;
        overflow: scroll;
    }
    .nav-list .list-item{
        display: block;
        border-top: 1px solid white;
    }
    .brand-logo{
        padding: 20px 10px;
        width: 100%;
    }
    .menu{
        display : block;
        position: absolute;
        top:20px;
        right: 20px;
        padding-bottom: 20px;
    }
    .Admission-Form{
        width: 100%;
        justify-content: center;
    }
    .login_form{
  
        width:100%;
        margin-top: 20%;;
        padding: 20px;
        border-radius: 8px;
     
     }

     .manageclass-container{
        top :0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #c0d838;
    }
    button#add_cls:hover{
        background: #2ff22f;
        color: white;
    }
     

}